# Source files
src/

# Test files
test/

# Configuration files
.prettierrc
tsconfig.json
vitest.config.ts
eslint.config.js
.github/
.husky/

# Node modules
node_modules/

# Docker files
docker/

# Documentation
docs/
mkdocs.yml
requirements.txt
.cache/

# Development files
*.log
.DS_Store
venv/